* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  header .logo img {
    width: 150px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  .hero {
    background: url('Intro.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
  }
  
  .hero h1 {
    font-size: 3rem;
    color: rgb(235, 235, 181);
  }
  
  .hero p {
    font-size: 1.5rem;
    color: rgb(235, 235, 181);
  }
  
  .hero .btn {
    background-color: #e53935;
    color: white;
    padding: 10px 20px;

    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
  }
  
  .hero .btn:hover {
    background-color: #d32f2f;
  }
  
  .menu, .ofertas, .contacto {
    padding: 40px 20px;
    text-align: center;
  }
  
  .menu h2, .ofertas h2, .contacto h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .item, .oferta {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    display: inline-block;
    width: calc(33% - 40px);
    vertical-align: top;
  }
  
  .item img, .oferta img {
    width: 100%;
    border-radius: 10px;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  img:hover{
    width: 110%;
  }
  .Combo2:hover{
    height: 450px;

  }
